target/
*.war
*.jar
*.class
*.orig
*~
*.orig
*.swp
*.swo
*.swn
*.swm
*.project
*.classpath
*.log
*.iml
web-app/WEB-INF/classes/*
.idea/*
.settings/*
mvnw
mvnw.cmd
.mvn
.mvn/*
gradle/
gradle/*
.gradle/
.gradle/*
classes
*.project
build
build/
build/*
bin
bin/
bin/*
ext-resources
ext-resources/
ext-resources/*
/bin/

node_modules
node_modules/*
bower_components
bower_components/*
